/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    background-color: #465362;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #011936;
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    width: 100%;
    height: auto;
    background-color: #F7CE5B;
    text-align: center;
    padding: 2%;
}

header img {
    width: 70px;
    height: auto;
}

#headings {
    display: flex;
    flex-direction: column;
}

#headings h1, h4 {
    font-family: 'Roboto', sans-serif;
    margin: 0 0 0 17px;
    color: #fff;
}

nav {
    font-family: 'Roboto', sans-serif;
    background-color: #82A3A1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #011936;
    border-top: 1px solid rgba(0,0,0,0.3);
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}


nav ul.hide {display: none;}

nav ul li a:hover {background-color: rgba(0,0,0,0.2);}

nav ul li.active a {background-color: rgba(0,0,0,0.2); color: #fff;}

section h1 {
    text-align: center;
    color: #fff;
}

main {
    padding: 0 2%;
    min-height: 20rem;
    color: #fff;
}

.hero {
    margin: 10px auto;
    position: relative;
}

.hero img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

#summary {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 250px;
    border-radius: 2%;
    background-color: #9FC490;
    background: rgba(159, 196, 144, 0.8);
    color: #011936;
    padding: 1.2rem;
}

#summary h2, p {
    margin: 0;
    padding: 2% 1%;
    word-wrap: inherit;
}

#summary h2 {
    color: white;
    font-weight: 700;

}

#forecast {
    display: none;
}

.article {
    width: 90%;
    height: auto;
    margin: 90px auto;
    background: rgba(159, 196, 144, 0.7);
    padding: 1.2rem;
}

.article img {
    display: block;
    margin: 2%;
    box-shadow: 1px 1px 2px 3px #000;
}

.article p {
    color: #011936;
}

#map {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 5%;
    background: rgba(130, 163, 161, 0.7);
}

#map img {
    display: none;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    background-color: #011936;
    color: #fff;
    padding: 20px;
    margin: 0;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #9FC490;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #9FC490;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top input {
    display: block;
    font-size: 1rem;
    border: solid 1px #9FC490;
    border-radius: 4px;
    padding: 0.75rem;
    margin: 2%;
    background-color: #fff;
}

form label.top select {
    width: 80%;
    padding: 0.75rem;
    margin: 2%;
}

form label.range-label {
    padding-top: 2rem;
    font-size: .9rem;
}

form label.top, form div, form label.select-css {
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
}

form label.top textarea {
        width: 600px;
        height: 120px;
        border: 3px solid #cccccc;
        padding: 5px;
        font-family: Tahoma, sans-serif;
        background-image: url(bg.gif);
        background-position: bottom right;
        background-repeat: no-repeat;
    
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #fff;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 40%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 40%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #9FC490;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #9FC490;
  }

  #range {
      color: #9FC490;
      font-size: 2rem;
  }

  #select {
      color: #011936;
  }
  .select-css {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 80%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}
form input {
    display: block;
}

form input.submitBtn {
    border: none;
    background-color: #82A3A1;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
}
#clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
